:root {
  --base-font-size: 13px;
  --base-line-height: 16px;

  --color1: #ebe0bf;
  --color2: #b9b098;
  --color3: #f2ebd5;
  --color4: #046380;
  --color5: #002f2f;
  --color6: #f9f9f9;

  --fade: 0.2s;

  --disabled: #666;

  --status-red: hsl(0, 80%, 80%);
  --status-green: hsl(125, 80%, 80%);
  --status-gray: hsl(58, 3%, 80%);
  --status-yellow: hsl(46, 79%, 80%);
}
